<%- include('header') -%>

    <header class="header">
        <span class="logo">
            <div class="logo__alignment">
                <a href="">LoGo</a>
            </div>
        </span>
    </header>


    <div class="container">

        <form action="/login" method="POST">

            <h1>Secure login</h1>

            <div class="desc">
                <p>Log in your Account to Get
                    Full Access<span>$reg</span>
                </p>
            </div>

            <div class="input-group">
                <input type="email" name="email" class="input" value="releafhealthcares@test.com" required>
                <label class="user-label">Email</label>
            </div>

            <div class="input-group">
                <input type="password" name="password" class="input" value="12345678" required>
                <label class="pass-label">Password</label>
            </div>

            <p class="forgot__password">
                <a href="#">Forgot password?</a>
            </p>

            <button type="submit" class="btn">
                Log in
            </button>
        </form>
    </div>

    <footer class="footer">

        <div class="sign__up">
            <a href="#">New here? Sign up</a>
        </div>

    </footer>

    <div class="terms">

        <div class="conditions">
            <a href="#">help</a>
            <span class="divider">&#x2022</span>
            <a href="#">Privacy & Security</a>
            <span class="divider">&#x2022</span>
            <a href="#">Terms of Use</a>
        </div>
    </div>


    <%- include('footer') -%>

