@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    width: 100%;
    align-items : center;
    height: 100%;
     

    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when 
    the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
    while the background image is loading */
    background-color: rgb(231, 246, 231);
    overflow: hidden;

    /* Location of the image */
    background-image:url('/static/assets/BG.jpg') ;
}  
.center-div{
    margin: 2%;
    /* padding-top: 5%; */

}
.container{
    background-color: rgba(231, 246, 231, 0.782);
}
.btn.btn-success{
    position: relative;
    left: -4.70rem;
    padding: .4em 2em;
}

form{
    padding: 0em 3em;
}

.label{
    font-size: .8em;
}
.cards{
    margin: 8.5%;
    display: flex;
    justify-content: space-around;
}
.card:hover{
    transition: all 0.3s;
    transform: translateY(-0.625rem);
    -webkit-transform: translateY(-0.625rem);
    -moz-transform: translateY(-0.625rem);
    -ms-transform: translateY(-0.625rem);
    -o-transform: translateY(-0.625rem);
    filter: drop-shadow(0.3125rem 0.625rem 0.625rem black);
    -webkit-filter: drop-shadow(0.3125rem 0.625rem 0.625rem black);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
